/* Fondo general */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
form {
    background: white;
    padding: 40px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

/* Título */
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    color: #2c5364;
} 
/* Labels */
label {
    display: block;
    margin-top: 15px;
    font-weight: 600;
    color: #333;
    text-align: center;
}


/* Inputs */
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: 0.3s ease;
}

/* Efecto focus */
input[type="text"]:focus {
    border-color: #2c5364;
    outline: none;
    box-shadow: 0 0 8px rgba(44, 83, 100, 0.5);
}

/* Botón */
input[type="submit"] {
    display: block; 
    width: 200px;
    margin: 20px auto 0 auto;  /* Esto lo centra */
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #2c5364;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* Hover botón */
input[type="submit"]:hover {
    background: #203a43;
    transform: scale(1.03);
}

@media (max-width: 480px) {
    form {
        width: 90%;
        padding: 25px; /
    }

    input[type="submit"] {
        width: 100%; 
        margin: 20px 8px 0 8px; /* Esto lo hace un poco más estrecho en móviles */
       
    }
}