{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Listar_mobiles.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Listar mobiles</h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Precio</th>
            {% if user.is_superuser %}
            <th>Acciones</th>
            {% endif %}
        </tr>
        {% for mobile in mobiles %}
        <tr>
            <td>{{ mobile.nombre }}</td>
            <td>{{ mobile.modelo }}</td>
            <td>{{ mobile.marca }}</td>
            <td>{{ mobile.precio }}</td>
           
            {% if user.is_superuser %}
            <td>
                <a href="{% url 'actualizar_mobile' mobile.id %}">Actualizar</a>
                <a href="{% url 'eliminar_mobile' mobile.id %}">Eliminar</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <p><a href="{% url 'logout' %}">Cerrar sesión</a></p>
</body>
</html>