{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Dispositivos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/crear_mobile.css' %}">
</head>
<body>
    <h1>Actualizar Dispositivo</h1>
    <form method="post">
        {% csrf_token %}
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ mobile.nombre }}" required><br>
        
        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" name="modelo" value="{{ mobile.modelo }}" required><br>
        
        <label for="marca">Marca:</label>
        <input type="text" id="marca" name="marca" value="{{ mobile.marca }}" required><br>
        
        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" value="{{ mobile.precio }}" required><br>
        
        <input type="submit" value="Actualizar Dispositivo">
    </form>
</body>
</html>